<!DOCTYPE html>
<html>
	<head>
		<title>Think Pink Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
  </head>
  <body>
	<div class="form-style-3">
			<fieldset><legend>Recommendation</legend>
			<h1>The best bra style for you would be: {{ variable }}</h1>
			<!-- <img src="{{ bra_image }}"/> -->
			</fieldset>
	</div>
  </body>
</html>